* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  height: auto;
  width: 80%;
}

img {
  width: 100%;
  height: auto;
}

.nav {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 0 45px 45px 45px;
}

.nav img {
  margin-top: 1%;
  width: auto;
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

/*.nav ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
    
}
.nav ul li {
    padding-top: 20px;
    border: 5px solid black;
    border-top: none;
}*/
.nav-wrap a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
  padding-top: 0;
}

.navigation {
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 5px solid black;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  transition: padding-top 70ms, padding-bottom 70ms;
}

.navigation:hover {
  padding-top: 40px;
  padding-bottom: 5px;
  background-color: white;
}

.nav-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
}

.header {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.header img {
  width: 30%;
}

.head {
  width: 40%;
}

.flashcards {
  background-color: brown;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.flashcards .card {
  width: 15%;
  height: auto;
  border: 5px solid black;
}

.quote {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 10%;
}

.txt {
  font-style: oblique;
  text-align: left;
  font-size: 24px;
  margin-bottom: 3%;
}

.author {
  font-weight: 700;
  text-align: right;
}

.call {
  background-color: cadetblue;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
}

.call div {
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  padding: 2%;
}

.call div .cto {
  font-size: 18px;
}

.call div button {
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid blue;
}

.footer {
  background-color: chartreuse;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
